.register-form {
  padding-left: 10vh !important;
  padding-right: 10vh !important;
}

.register-img {
  width: 10%; /* Przykładowa szerokość obrazka */
  transform: scale(0.1) !important;
}

.register-button {
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  margin: auto !important;
}